* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    background-color: #2e66ff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}
.photo-grid {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.photo-grid-item {
  width: 400px;
  height: 400px;
  margin: 10px;
  text-align: center;
}
h3 {
  margin: 5px;
}
a {
  text-decoration: none;
  color: Black;
}
.footer {
  display: flex;
  background-color: lightgreen;
  justify-content: center;
}
img {
  max-width: 100%;
  max-height: 100%;
}
